!!! 5
%html
	%head
		%title Sadie's Diner
		%meta{ charset: "UTF-8" }

		%link{ type: "image/png", href: "images/favicon.png", rel: "icon" }
		%link{ rel: "stylesheet", type: "text/css", href: "stylesheets/style.css" }
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

		/ Load Slick slider
		%link{ rel: "stylesheet", type: "text/css", href: "slick/slick.css" }

		/ Load Fancybox
		%link{ rel: "stylesheet", href: "fancybox/source/jquery.fancybox.css?v=2.1.5", type: "text/css", media: "screen" }
		/ Google fonts loaded
		%link{ href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700", rel: "stylesheet", type: "text/css" }
		%link{ href: "http://fonts.googleapis.com/css?family=Grand+Hotel", rel: "stylesheet", type: 'text/css' }
		%link{ href: "http://fonts.googleapis.com/css?family=Oswald", rel: "stylesheet", type: "text/css" }
	%body	
		%header
		.wrapper.clearfix
			.main-callout.clearfix
				%ul
					%li
						%h3.top Portland & Adelaide
						%p.middle 504 Adelaide Street West
						%p.middle	Toronto, ON M5V 1T5
						%p.bottom (416) 777-2343
					%li
						%img.left-no-ani{ src: "images/left-bird.png" }
						%a{ href: "index.html" }
							%img.logo{ src: "images/logo.png" }
						%img.music-note{ src: "images/music-note.png" }
						%img.right-no-ani{ src: "images/right-bird.png" }
					%li
						%h3.top Our Hours
						%p.middle Monday-Friday: 7:30am-10pm
						%p.middle Weekends: 9am-10pm
						%p.bottom
							%a.email{ href: "mailto:info@sadiesdiner.com" } info@sadiesdiner.com
			.sub-callout.clearfix
				%ul.menu
					%li
						%a.page-link{ href: "about.html" } About
					%li.two
						%a.page-link{ href: "charity.html" } Chili-for-Charity
					%li.three
						%a.page-link.active{ href: "artshow.html" } Artshow
					%li.four
						%a.page-link{ href: "menu.html" } Menu
					%li.five
						%a.page-link{ href: "contact.html" } Contact

			.main-content-container
				.content
					%h2 Art at Sadies
					%p Sadie's Diner also functions as a gallery showcasing the works of varied painters, illustrators and photographers. We always welcome artists who are interested in showing their work here. If you're interested in being part of an upcoming show, please send an email to <a href="mailto:info@sadiesdiner.com">info@sadiesdiner.com</a>
					.artists
						%div.row-one
							%a.fancybox{ rel: "group", href: "images/artshow/alex_davey_1.jpg" }
								%img.art{ src: "images/artshow/small/alex_davey_1_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/alex_davey_2.jpg" }
								%img.art{ src: 'images/artshow/small/alex_davey_2_small.jpg' }

							%a.fancybox{ rel: "group", href: "images/artshow/freshdiscoporkergas.jpg" }
								%img.art{ src: "images/artshow/small/freshdiscoporkergas_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/gerry_smith_1.jpg" }								
								%img.art{ src: "images/artshow/small/gerry_smith_1_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/gerry_smith_2.jpg" }
								%img.art{ src: "images/artshow/small/gerry_smith_2_small.jpg" }
						
						%div.row-two
							%a.fancybox{ rel: "group", href: "images/artshow/johanna_1.jpg" }
								%img.art{ src: "images/artshow/small/johanna_1_small.jpg" }
							
							%a.fancybox{ rel: "group", href: "images/artshow/johanna_2.jpg" }
								%img.art{ src: "images/artshow/small/johanna_2_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/karina_1.jpg" }
								%img.art{ src: "images/artshow/small/karina_1_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/karina_2.jpg" }
								%img.art{ src: "images/artshow/small/karina_2_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/michael_dent_g20.jpg" }
								%img.art{ src: "images/artshow/small/michael_dent_g20_small.jpg" }
						
						%div.row-two
							%a.fancybox{ rel: "group", href: "images/artshow/michael_dent_lock.jpg" }
								%img.art{ src: "images/artshow/small/michael_dent_lock_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/rae_maxwell.jpg" }
								%img.art{ src: "images/artshow/small/rae_maxwell_small.jpg"}

							%a.fancybox{ rel: "group", href: "images/artshow/snooters.jpg" }
								%img.art{ src: "images/artshow/small/snooters_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/gerry_smith_2.jpg" }
								%img.art{ src: "images/artshow/small/gerry_smith_2_small.jpg" }

							%a.fancybox{ rel: "group", href: "images/artshow/troy_brooks_1.jpg" }
								%img.art{ src: "images/artshow/small/troy_brooks_1_small.jpg" }

			.page-list
				%ul
					%li.one 
						%p All of our take-out containers are <span>100% compostable</span> and may be deposited in your green bin.
					%li.two 
						%img{ src: "images/coffee-splash.jpg" }
					%li.three 
						%p Our eggs are free-run, our milk and cream is organic, our cheese is rennet-free and we offer vegan alternatives to all of these.

		.top-footer-wrapper.clearfix
			%h2 You'll love our full fair-trade vegetarian menu!
			.foot-left-bird	
				%img{ src: "images/left-bird.png", class: "left-bird-ani"}
			.foot-right-bird	
				%img{ src: "images/right-bird.png", class: "right-bird-ani"}

		%footer
			%p Web Design and Development:<a href="http://www.jaredphillips.io"> Jared Phillips</a>

		/ jQuery Load
		%script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" }
		
		/ Load Fancybox
		%script{ type: "text/javascript", src: "fancybox/source/jquery.fancybox.pack.js?v=2.1.5" }

		/ Slick slider load
		%script{ type: "text/javascript", src: "slick/slick.min.js" }
		%script{ type: "text/javascript", src: "js/min/script.min.js" }
		
		/ Loading my scripts
		%script{ type: "text/javascript", src: "js/script.js" }
