!!! 5
%html
	%title Sadie's Diner
	%meta{ charset: "UTF-8" }
	%link{ type: "image/png", href: "images/favicon.png", rel: "icon" }
	%link{ rel: "stylesheet", type: "text/css", href: "stylesheets/style.css" }
	%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
%body
	%header
	.wrapper.clearfix
		.main-callout.clearfix
			%ul
				%li
					%h3.top Portland & Adelaide
					%p.middle 504 Adelaide Street West
					%p.middle	Toronto, ON M5V 1T5
					%p.bottom (416) 777-2343
				%li
					%img.logo{ src: "images/logo.png" }
				%li
					%h3.top Our Hours
					%p.middle Monday-Friday: 7:30am-10pm
					%p.middle Weekends: 9am-10pm
					%p.bottom
						%a.email{ href: "mailto:info@sadiesdiner.com" } info@sadiesdiner.com
		.sub-callout.clearfix
			%ul
				%li 
					%a{ href: "#" } About
				%li 
					%a{ href: "#" } Chili
				%li 
					%a{ href: "#" } Artshow
				%li
					%a{ href: "#"} Menu
				%li
					%a{ href: "#" } Contact
		.slider
			.food
				%h2 Our Menu
				%img{ src: "images/1food.jpg" }
	.top-footer
		.text-container
			%h3 Here at Sadie's Diner
			%ul
				%li Some crazy stuff goes here.
				%li Even more crazy stuff goes here.
				%li Maybe a contact button or something here.
				%li Some more
	%footer			
	%script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
	%script{ type: "text/javascript", src: "js/min/script.min.js" }
