!!! 5
%html
	%title Sadie's Diner
	%meta{ charset: "UTF-8" }
	%link{ type: "image/png", href: "images/favicon.png", rel: "icon" }
	%link{ rel: "stylesheet", type: "text/css", href: "stylesheets/style.css" }
	%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
%body
	%header
	.wrapper.clearfix
		.main-callout.clearfix
			%ul
				%li Location
				%li Logo
				%li Hours
		.sub-callout.clearfix
			%ul
				%li About
				%li Chili
				%li Artshow
				%li Menu
				%li Contact
		.slider
			.food
				%h2 Our Menu
				%img{ src: "images/1food.jpg" }
	.top-footer
		.text-container
			%h3 Here at Sadie's Diner
			%ul
				%li Some crazy stuff goes here.
				%li Even more crazy stuff goes here.
				%li Maybe a contact button or something here.
				%li Some more
	%footer			
	%script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
	%script{ type: "text/javascript", src: "js/min/script.min.js" }
