!!! 5
%html
	%title Sadie's Diner
	%meta{ charset: "UTF-8" }
	%link{ type: "image/png", href: "images/favicon.png", rel: "icon" }
	%link{ rel: "stylesheet", type: "text/css", href: "stylesheets/style.css" }
	%link{ rel: "stylesheet", type: "text/css", href: "slick/slick.css" }
	%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
	%link{ href: "http://fonts.googleapis.com/css?family=Grand+Hotel", rel: "stylesheet", type: "text/css" }
	%link{ href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700", rel: "stylesheet", type: "text/css" }
	%link{ href: "http://fonts.googleapis.com/css?family=Grand+Hotel", rel: "stylesheet", type: 'text/css' }
	%link{ href: "http://fonts.googleapis.com/css?family=Oswald", rel: "stylesheet", type: "text/css" }

%body
	%header
	.wrapper.clearfix
		.main-callout.clearfix
			%ul
				%li
					%h3.top Portland & Adelaide
					%p.middle 504 Adelaide Street West
					%p.middle	Toronto, ON M5V 1T5
					%p.bottom (416) 777-2343
				%li
					%img.left-bird{ src: "images/left-bird.png" }
					%img.logo{ src: "images/logo.png" }
					%img.music-note{ src: "images/music-note.png" }
					%img.right-bird{ src: "images/right-bird.png" }
				%li
					%h3.top Our Hours
					%p.middle Monday-Friday: 7:30am-10pm
					%p.middle Weekends: 9am-10pm
					%p.bottom
						%a.email{ href: "mailto:info@sadiesdiner.com" } info@sadiesdiner.com
		.sub-callout.clearfix
			%ul
				%li
					%a.box{ href: "#" } About
				%li
					%a.box{ href: "#" } Chili-for-Charity
				%li
					%a.box{ href: "#" } Artshow
				%li
					%a.box{ href: "#"} Menu
				%li
					%a.box{ href: "#" } Contact
		.slider
			.food
				%div
					%img.slides{ src: "images/1food.jpg" }
				%div
					%img.slides{ src: "images/2food.jpg" }
				%div
					%img.slides{ src: "images/3food.jpg" }
				%div
					%img.slides{ src: "images/4food.jpg" }
				%div
					%img.slides{ src: "images/5food.jpg" }
			.slider-list
				%ul
					%li.one 
						%p All of our take-out containers are <span>100% compostable</span> and may be deposited in your green bin.
					%li.two 
						%img{ src: "images/coffee-splash.jpg" }
					%li.three 
						%p Our eggs are free-run, our milk and cream is organic, our cheese is rennet-free and we offer vegan alternatives to all of these.
	.top-footer
		.text-container
			%h3 Here at Sadie's Diner
			%ul
				%li Some crazy stuff goes here.
				%li Even more crazy stuff goes here.
				%li Maybe a contact button or something here.
				%li Some more
	%footer
	%script{ type: "text/javascript", src: "//code.jquery.com/jquery-1.11.0.min.js" }
	%script{ type: "text/javascript", src: "//code.jquery.com/jquery-migrate-1.2.1.min.js" }
	%script{ type: "text/javascript", src: "slick/slick.min.js" }
	%script{ type: "text/javascript", src: "js/min/script.min.js" }

				



