!!! 5
%html
	%title Sadie's Diner
	%meta{ charset: "UTF-8" }
	%link{ type: "image/png", href: "images/favicon.png", rel: "icon" }
	%link{ rel: "stylesheet", type: "text/css", href: "stylesheets/style.css" }
	%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
	%link{ href: "http://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css" }
	%link{ href: "http://fonts.googleapis.com/css?family=Grand+Hotel", rel: "stylesheet", type: "text/css" }
%body
	%header
	%div.wrapper
		.div.nav-wrapper
			%ul
				%li Address
				%li logo
				%li Our Hours
		.div.sub-nav-wrapper
			%ul
				%li Chili for Charity
				%li Artshow
				%li Contact

	%script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
	%script{ type: "text/javascript", src: "js/min/script.min.js" }