/* Animations */

@-webkit-keyframes bird-from-left {
  0%   { top:  -51px; left: -749px; }
  10%  { top:  -74px; left: -673px; }
  20%  { top: -105px; left: -611px; }
  30%  { top: -126px; left: -543px; }
  40%  { top: -136px; left: -471px; }
  50%  { top:  -98px; left: -405px; }
  60%  { top: -109px; left: -333px; }  
  70%  { top: -125px; left: -243px; }
  80%  { top: -140px; left: -170px; }
  100% { top: -130px; left: -150px; }

}

@-webkit-keyframes bird-from-right {
  0%   { top: -568px; left: 611px;  }
  10%  { top: -477px; left: 611px;  }
  20%  { top: -436px; left: 561px;  }
  30%  { top: -398px; left: 517px;  }
  40%  { top: -354px; left: 451px;  }
  50%  { top: -391px; left: 396px;  }
  60%  { top: -425px; left: 339px;  }
  70%  { top: -360px; left: 283px;  }
  80%  { top: -401px; left: 211px;  }
  90%  { top: -368px; left: 163px;  }
  100% { top: -347px; left: 135px;  }

}

@-webkit-keyframes musical-note {
  0%   { opacity: 0 }
  20%  { opacity: 1 }
  40%  { opacity: 0 }
  60%  { opacity: 1 }
  80%  { opacity: 0 }
  100% { opacity: 1 }
}