

header {
  background: url(../images/nav-background.jpg);
  background-repeat: repeat-x;
  height: 130px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.logo {
  position: relative;
  top: 10px;
  left: 500px;
  height: 190px;
  max-width: 100%;
}

.left-bird {
  height: 69px;
  position: relative;
  top: -50px;
  left: -190px;
  opacity: .8;
  -webkit-animation: bird-from-left 1.5s linear;
  max-width: 100%;
  &:hover {
    -ms-transform: rotate(-13deg); /* IE 9 */
    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
    transform: rotate(-13deg);
  }
}

.right-bird {
  height: 58px;
  position: relative;
  top: -26px;
  left: -80px;
  opacity: .8;
  -webkit-animation: bird-from-right 1.9s linear;
  z-index: 50;
  max-width: 100%;
  &:hover {
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
  } 
}

.music-note {
  position: relative;
  top: -30px;
  left: -75px;
  opacity: 0;
  max-width: 100%;
  -webkit-animation: musical-note 4s ease 3s forwards;
}






