

header {
  background: #f9f5f2;
  height: 150px;
  width: 99%;
  margin: .5% auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logo {
  position: relative;
  top: 0px;
  left: 70px;
  height: 130px;
  max-width: 100%;
}

.left-bird {
  height: 69px;
  position: relative;
  top: -50px;
  left: -190px;
  opacity: .8;
  -webkit-animation: bird-from-left 1.5s linear;
  max-width: 100%;
}

.left-bird:hover {
  -ms-transform: rotate(-13deg); /* IE 9 */
  -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
  transform: rotate(-13deg);
}

.right-bird {
  height: 58px;
  position: relative;
  top: -26px;
  left: -80px;
  opacity: .8;
  -webkit-animation: bird-from-right 1.9s linear, jiggy 4s ease 2.5s forwards;
  z-index: 50;
  max-width: 100%;
}

.right-bird:hover {
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}

.music-note {
  position: relative;
  top: -30px;
  left: -75px;
  opacity: 0;
  max-width: 100%;
  -webkit-animation: musical-note 4s ease 3s forwards;
}

.nav-list {
  list-style-type: none;
  text-align: right;
  padding-right: 0px;
  display: inline-block;
  float: right;
  margin-top: 50px;
  li {
    float: left;
    overflow: hidden;
    border-right: 1px solid #e5e7df;
    padding: 0 10px 0 10px;
    a {
      margin-left: 0px;
      text-decoration: none;
      line-height: 1.6;
      font-family: 'Grand Hotel', cursive;
      letter-spacing: 0.06em;
      color: #d4320b;
      text-shadow: 1px 1px 1px #bbb;
      font-size: 29px;
      transition: .5s;
    }
    a:hover {
      color: #f5623f;
      transition: .5s;
    }
  }
}

.nav-list li:last-of-type {
  margin-right: 40px;
  border-right: 0px solid white;
}

.icons-menu {
content: "U+e606";
}



