.wrapper {
	position: fixed;
	height: 1000px;
	background: $off-white;
	width: 90%;
	margin: 0 5% 0 5%;
}	

// Main nav

.nav-wrapper {
	background-color: $red;
	height: 100px;
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
	ul {
		li {
			list-style: none;
			float: left;
			width: 33.333%;
			text-align: center;
		}
	}
}

.sub-nav-wrapper {
	background-color: $lighter-blue;
	height: 40px;
	width: 60%;
	margin: 0 auto;
	margin-top: 70px;
	ul {
		li {
			list-style: none;
			float: left;
			width: 33.333%;
			text-align: center;
		}
	}
}