.main-content-container {
	margin-top: 50px;
	.content {
		height: 100%;
		width: 85%;
		margin: 0 auto;
	  border: 3px solid $darker-blue;
		border-radius: 15px;
		padding: 0px 40px 40px 70px;
		background: $off-white;
		h2 {
			text-align: center;
			font-family: 'Grand Hotel', serif;
			color: $red;
			font-size: 4em;
			letter-spacing: 2px;
			margin-top: 18px;
			margin-bottom: 0px;
		}
		h3 {
			text-align: center;
			font-family: 'Grand Hotel', serif;
			color: $red;
			font-size: 1.4em;
			letter-spacing: 1px;
			margin-top: 0px;
			margin-bottom: 0px;
			transition: 1s;
		}
		h4 {
			text-align: center;
			font-family: 'Grand Hotel', serif;
			color: $red;
			font-size: 1.2em;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		p {
			font-family: 'Lato', sans-serif;
			line-height: 1.6;
			letter-spacing: 0.05em;
			color: $off-black;
			a {
				color: $red;
				text-align: center;
				text-decoration: underline;
				&:hover {
					color: $lighter-blue;
				}
			}
		}
	}
}

p.last-paragraph {
	margin-bottom: 80px;
}

// End of base styles

// About us page

a.button {
	position: relative;
	left: 32%;
	border-radius: 5px;
	background: $off-white;
	text-decoration: none;
	width: 240px;
	padding: 7px;
	font-family: 'Lato', serif;
	font-size: 21px;
	transition: .5s;
	border: 1px solid $red;
	text-align: center;
	&:hover {
		background: white;
		border: 1px solid #A7E1F1;
	}
}

a.hidden {
  display: none;
}

// About us page ends

// Charity

section {
  margin-left: 2%; 
  width: 58%;
  float: right;
}
aside {
	margin-top: 100px;
  margin-right: 2%;
  width: 38%;
  .chili-explanation {
  	background: white;
  	padding: 15px;
  	border-radius: 8px;
  	border: 3px solid $red;
  	text-align: center;
  	h3.title {
  		font-size: 1.8em;
		}
  }
  .side-pic {

  	a {
  		.pez-wall {
  			margin-top: 30px;
  			width: 350px;
  		}
  	}
  }
}

// Artshow 

.artists {
	margin: 0 auto;
	width: 80%;
	art {
		margin: 0 auto;
	}
}