// Slider for main page


img.slides {
	margin: 0 auto;
	border: 15px solid $lighter-blue;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset
}



.page-list {
	height: 200px;
	width: 100%;
	margin: 10px auto;
	ul {
		list-style-type: none;
		width: 80%;
		margin: 0 auto;
		li {
			margin-top: 30px;
			margin-bottom: 40px;
			width: 33.3333%;
			height: 200px;
			padding: 10px;
			display: inline-block;
			float: left;
			text-align: center;
		}
		.one {
			border-right: 3px solid $lighter-blue;
			font-family: 'Lato', sans-serif;
			line-height: 1.6;
			font-size: 17px;
			letter-spacing: 0.05em;
			color: $off-black;
			span {
				text-decoration: underline;
				color: $red;
			}
		}
		.two {
			img {
				height: 220px;
				border-radius: 10px;
			}
		}
		.three {
			border-left: 3px solid $lighter-blue;
			font-family: 'Lato', sans-serif;
			line-height: 1.6;
			letter-spacing: 0.05em;
			color: #2B2B27;
		}
	}
}