/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* line 1, _normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, _normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 1, _normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 1, _normalize.scss */
[hidden] {
  display: none;
}

/* line 1, _normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, _normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 1, _normalize.scss */
body {
  margin: 0;
}

/* line 1, _normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, _normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 1, _normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 1, _normalize.scss */
h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

/* line 1, _normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 1, _normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 1, _normalize.scss */
h5 {
  font-size: .83em;
  margin: 1.67em 0;
}

/* line 1, _normalize.scss */
h6 {
  font-size: .75em;
  margin: 2.33em 0;
}

/* line 1, _normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, _normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 1, _normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 1, _normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, _normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, _normalize.scss */
p, pre {
  margin: 1em 0;
}

/* line 1, _normalize.scss */
pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

/* line 1, _normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, _normalize.scss */
q {
  quotes: none;
}

/* line 1, _normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 1, _normalize.scss */
small {
  font-size: 75%;
}

/* line 1, _normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, _normalize.scss */
sup {
  top: -0.5em;
}

/* line 1, _normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 1, _normalize.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 1, _normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 1, _normalize.scss */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 1, _normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 1, _normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 1, _normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, _normalize.scss */
figure {
  margin: 0;
}

/* line 1, _normalize.scss */
form {
  margin: 0;
}

/* line 1, _normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, _normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 1, _normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 1, _normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, _normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 1, _normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 1, _normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 1, _normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, _normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 1, _normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, _normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, _normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, _border-box.scss */
* {
  -moz-ring-sizing: border-ring;
  -webkit-ring-sizing: border-ring;
  ring-sizing: border-ring;
  box-sizing: border-box;
}

/* line 1, _clearfix.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 9, _clearfix.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 10, _clearfix.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 8, _variables-misc.scss */
body {
  background: #f9f5f2;
}

/* line 1, _header.scss */
header {
  background: url(../images/top-background.jpg);
  height: 100px;
  display: block;
}

/* Animations */
@-webkit-keyframes bird-from-left {
  /* line 4, _animations.scss */
  0% {
    top: -51px;
    left: -749px;
  }

  /* line 5, _animations.scss */
  10% {
    top: -74px;
    left: -673px;
  }

  /* line 6, _animations.scss */
  20% {
    top: -105px;
    left: -611px;
  }

  /* line 7, _animations.scss */
  30% {
    top: -126px;
    left: -543px;
  }

  /* line 8, _animations.scss */
  40% {
    top: -136px;
    left: -471px;
  }

  /* line 9, _animations.scss */
  50% {
    top: -98px;
    left: -405px;
  }

  /* line 10, _animations.scss */
  60% {
    top: -109px;
    left: -333px;
  }

  /* line 11, _animations.scss */
  70% {
    top: -125px;
    left: -243px;
  }

  /* line 12, _animations.scss */
  80% {
    top: -140px;
    left: -170px;
  }

  /* line 13, _animations.scss */
  100% {
    top: -130px;
    left: -150px;
  }
}

@-webkit-keyframes bird-from-right {
  /* line 18, _animations.scss */
  0% {
    top: -568px;
    left: 611px;
  }

  /* line 19, _animations.scss */
  10% {
    top: -477px;
    left: 611px;
  }

  /* line 20, _animations.scss */
  20% {
    top: -436px;
    left: 561px;
  }

  /* line 21, _animations.scss */
  30% {
    top: -398px;
    left: 517px;
  }

  /* line 22, _animations.scss */
  40% {
    top: -354px;
    left: 451px;
  }

  /* line 23, _animations.scss */
  50% {
    top: -391px;
    left: 396px;
  }

  /* line 24, _animations.scss */
  60% {
    top: -425px;
    left: 339px;
  }

  /* line 25, _animations.scss */
  70% {
    top: -360px;
    left: 283px;
  }

  /* line 26, _animations.scss */
  80% {
    top: -401px;
    left: 211px;
  }

  /* line 27, _animations.scss */
  90% {
    top: -368px;
    left: 163px;
  }

  /* line 28, _animations.scss */
  100% {
    top: -347px;
    left: 135px;
  }
}

@-webkit-keyframes musical-note {
  /* line 33, _animations.scss */
  0% {
    opacity: 0;
  }

  /* line 34, _animations.scss */
  20% {
    opacity: 1;
  }

  /* line 35, _animations.scss */
  40% {
    opacity: 0;
  }

  /* line 36, _animations.scss */
  60% {
    opacity: 1;
  }

  /* line 37, _animations.scss */
  80% {
    opacity: 0;
  }

  /* line 38, _animations.scss */
  100% {
    opacity: 1;
  }
}

/* line 1, _wrapper.scss */
.wrapper {
  width: 90%;
  height: 100%;
  margin: 10px auto;
  background: url(../images/paper_fibers.png);
  border-radius: 9px;
  padding: 10px;
}

/* line 1, _main-callout.scss */
.main-callout {
  width: 90%;
  margin: 0 auto;
}
/* line 4, _main-callout.scss */
.main-callout ul {
  list-style-type: none;
}
/* line 6, _main-callout.scss */
.main-callout ul li {
  height: 188px;
  float: left;
  width: 28%;
  text-align: center;
  margin: 0 2% 0 2%;
}
/* line 12, _main-callout.scss */
.main-callout ul li h3 {
  font-size: 36px;
  letter-spacing: 1.9px;
  font-family: 'Grand Hotel', 'cursive';
  color: #d4320b;
}
/* line 18, _main-callout.scss */
.main-callout ul li p {
  font-family: 'Lato', 'sans-serif';
  line-height: 1.555;
  font-size: 18px;
  font-weight: 300;
}

/* line 28, _main-callout.scss */
.top {
  padding-bottom: 5px;
  border-bottom: 2px solid #9bd8eb;
  display: block;
  margin: 5px;
}

/* line 35, _main-callout.scss */
.middle {
  display: block;
  margin: -1px;
}

/* line 40, _main-callout.scss */
.bottom {
  display: block;
  margin: 5px;
  padding-top: 5px;
  border-top: 2px solid #9bd8eb;
}

/* line 47, _main-callout.scss */
.left-bird {
  position: relative;
  top: -130px;
  left: -150px;
  -webkit-animation: bird-from-left 3s linear;
}

/* line 54, _main-callout.scss */
.logo {
  position: relative;
  top: -210px;
  left: 0;
  height: 190px;
  width: 280px;
  max-width: 100%;
}

/* line 63, _main-callout.scss */
.music-note {
  position: relative;
  top: -362px;
  left: 143px;
  height: 37px;
  opacity: 0;
  -webkit-animation: musical-note 5s;
  animation-delay: 3.4s;
  -webkit-animation-delay: 3.4s;
}

/* line 74, _main-callout.scss */
.right-bird {
  position: relative;
  top: -347px;
  left: 135px;
  -webkit-animation: bird-from-right 3.4s linear;
}

/* line 81, _main-callout.scss */
.email {
  text-decoration: none;
  color: #2b2b27;
  font-family: 'Lato', 'sans-serif';
  line-height: 1.555;
  font-size: 19px;
  font-weight: 300;
  transition: 4s;
}
/* line 89, _main-callout.scss */
.email:hover {
  color: #d4320b;
  transition: .1s;
}

/* line 1, _sub-callout.scss */
.sub-callout {
  width: 100%;
  margin: 0 auto;
}
/* line 4, _sub-callout.scss */
.sub-callout ul {
  list-style-type: none;
}
/* line 6, _sub-callout.scss */
.sub-callout ul li {
  width: 15%;
  margin: 0 2% 0 2%;
  float: left;
  text-align: center;
}
/* line 11, _sub-callout.scss */
.sub-callout ul li a.box {
  position: relative;
  top: 3px;
  padding: 10px 30px;
  color: #d4320b;
  font-size: 18px;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  vertical-align: center;
  transition: .5s;
}
/* line 23, _sub-callout.scss */
.sub-callout ul li a.box:hover {
  color: #2b2b27;
  transition: .5s;
  top: 6px;
}

/* line 37, _sub-callout.scss */
.box {
  position: relative;
  padding: 12px;
  background: #F9F5F2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0%     0%     25%     25% /     0%     0%     3%     3%;
}

/* line 45, _sub-callout.scss */
.box:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg) skew(0deg);
  -moz-transform: rotate(-3deg) skew(0deg);
  -ms-transform: rotate(-3deg) skew(0deg);
  -o-transform: rotate(-3deg) skew(0deg);
  transform: rotate(-3deg) skew(0deg);
}

/* line 61, _sub-callout.scss */
.box:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(3deg) skew(0deg);
  -moz-transform: rotate(3deg) skew(0deg);
  -ms-transform: rotate(3deg) skew(0deg);
  -o-transform: rotate(3deg) skew(0deg);
  transform: rotate(3deg) skew(0deg);
}

/* line 78, _sub-callout.scss */
a.box.active {
  color: #2b2b27;
  top: 6px;
}

/* line 1, _slider.scss */
.slider {
  margin-top: 50px;
  height: 760px;
}
/* line 4, _slider.scss */
.slider .food {
  width: 100%;
}
/* line 7, _slider.scss */
.slider h2 {
  text-align: center;
}
/* line 10, _slider.scss */
.slider img.slides {
  display: block;
  margin: 0 auto;
  border: 15px solid #a7e1f1;
}

/* line 17, _slider.scss */
.slider-list {
  height: 100px;
  width: 100%;
  margin: 0 auto;
}
/* line 21, _slider.scss */
.slider-list ul {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}
/* line 25, _slider.scss */
.slider-list ul li {
  margin-top: 30px;
  width: 33.3333%;
  height: 200px;
  padding: 10px;
  display: inline-block;
  float: left;
  text-align: center;
}
/* line 34, _slider.scss */
.slider-list ul .one {
  border-right: 1px solid #a7e1f1;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #2b2b27;
}
/* line 41, _slider.scss */
.slider-list ul .one span {
  text-decoration: underline;
  color: #d4320b;
}
/* line 47, _slider.scss */
.slider-list ul .two img {
  height: 220px;
  border-radius: 10px;
}
/* line 52, _slider.scss */
.slider-list ul .three {
  border-left: 1px solid #a7e1f1;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #2B2B27;
}

/* line 1, _top-footer.scss */
.top-footer {
  background: #d4320b;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  vertical-align: center;
}
/* line 7, _top-footer.scss */
.top-footer h3 {
  position: relative;
  top: 50px;
  left: 300px;
}
/* line 12, _top-footer.scss */
.top-footer ul {
  margin-left: -40px;
  margin-top: 100px;
  list-style-type: none;
}
/* line 16, _top-footer.scss */
.top-footer ul li {
  float: left;
  width: 25%;
  text-align: center;
  background: white;
}

/* line 1, _footer.scss */
footer {
  background: url(../images/top-background.jpg);
  height: 150px;
  display: block;
}
